<h2 mat-dialog-title>Edit Device</h2>

<mat-dialog-content>
    <mat-form-field color="accent" fxFill>
        <input disabled matInput placeholder="Name" value="{{device?.device.name}}">
    </mat-form-field>
    <h3>Services</h3>
    <mat-form-field color="accent" *ngFor="let service of services" fxFill>
        <textarea  [(ngModel)]="service.code" [rows]="3" matInput placeholder="{{service.name}}" value="{{service.code}}"></textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
    <button class="mat-raised-button color-accent" (click)="close()">Cancel</button>
    <button class="mat-raised-button mat-accent" (click)="edit()">Edit</button>
</mat-dialog-actions>