<h2 mat-dialog-title>Edit Change Routine</h2>

<mat-dialog-content>
    <form class="size">
        <mat-form-field color="accent" fxFill appearance="outline">
            <mat-label>Name</mat-label>
            <input disabled matInput placeholder="Name" value="{{device?.device.name}}">
        </mat-form-field>
        <h3>Change Routine</h3>
        <div *ngIf="changeRoutines.length > 0">
            <div *ngFor="let changeRoutine of changeRoutines; let i = index">
                <mat-form-field color="accent" fxFill appearance="outline">
                    <mat-label>Code</mat-label>
                    <textarea [rows]="3" matInput
                              placeholder="Code" [(ngModel)]="changeRoutine.code" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
                <mat-form-field color="accent" fxFill appearance="outline">
                    <mat-label>Interval (seconds)</mat-label>
                    <input class="right-align" type="number" matInput placeholder="Interval" [(ngModel)]="changeRoutine.interval" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <button mat-icon-button (click)="delete(i)" color="accent" matTooltip="Delete change routine">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
    <button class="mat-raised-button color-accent" (click)="close()">Cancel</button>
    <button class="mat-raised-button mat-accent" (click)="edit()">Save</button>
</mat-dialog-actions>