<h2 mat-dialog-title>Add State</h2>

<mat-dialog-content>
    <mat-form-field fxFill color="accent" appearance="outline">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="stateUserInput.name" matInput placeholder="Name">
    </mat-form-field>
    <mat-radio-group class="example-radio-group" [(ngModel)]="stateUserInput.type" fxLayout="column" fxLayoutGap="5px">
        <mat-label>Device type</mat-label>
        <mat-radio-button *ngFor="let type of types" [value]="type" fxFill>
            {{type}}
        </mat-radio-button>
    </mat-radio-group>
    <mat-form-field fxFill color="accent" appearance="outline">
        <mat-label>Value</mat-label>
        <input [(ngModel)]="stateUserInput.value" matInput placeholder="Value">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
    <button class="mat-raised-button color-accent" (click)="close()">Cancel</button>
    <button class="mat-raised-button mat-accent" (click)="create()">Add</button>
</mat-dialog-actions>