<h2 mat-dialog-title>Create Devices</h2>

<mat-dialog-content>
        <mat-form-field color="accent" fxFill>
            <input #input matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field fxFill>
            <mat-select placeholder="Favorite food">
                <mat-option>abc</mat-option>
                <mat-option>def</mat-option>
                <mat-option>ghi</mat-option>
<!--                <mat-option [value]="food.value">
                    {{food.viewValue}}
                </mat-option>-->
            </mat-select>
        </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
    <button class="mat-raised-button color-accent" (click)="close()">Cancel</button>
    <button class="mat-raised-button mat-accent" (click)="create(input.value)">Create</button>
</mat-dialog-actions>