.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
.image-wrapper {
    width: 275px;
}

.logo {
    max-height: 48px;
    display: block;
}

.shadow {
box-shadow: 0 0 0.2rem rgba(0,0,0,.1), 0 0.2rem 0.4rem rgba(0,0,0,.1);
}

.mat-h4 {
    margin: 0px;
}