<mat-toolbar class="shadow" color="primary">
    <button mat-icon-button fxHide.gt-sm (click)="toggle(true)">
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/dashboard" (click)="resetSidenav()" class="image-wrapper" fxHide fxShow.gt-sm>
        <img class="logo"
        src="src/img/SENERGY_LOGO-bunt_horizontal_medium_boldBulb130.svg">
    </a>
    <div>MOSES toolbar</div>
    <!--div class="mat-h4 color-accent">{{header}}</div>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button color="accent">
        <mat-icon>notifications_none</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="user" color="accent">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #user="matMenu" [overlapTrigger]="false">
        <div mat-menu-item>User</div>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            Settings
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            Logout
        </button>
    </mat-menu>-->
</mat-toolbar>







