<div>
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button color="accent" (click)="deleteRoom()" matTooltip="Delete room">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <div class="layout-margin" fxLayout="column">
        <mat-grid-list cols="{{6}}" rowHeight="250px" gutterSize="16px"
                       *ngIf="devices.length > 0">
            <mat-grid-tile class="mat-elevation-z1" *ngFor="let device of devices">
                <div class="background" fxFill>
                    <img class="device-icon" src="{{device.image_url}}">
                </div>
                <mat-grid-tile-footer>
                    <div fxLayout="row" fxLayout="row" fxLayoutAlign="start center" fxFill>
                        <div fxFlex="70" fxLayout="row">
                            <div class="truncate" matTooltip="{{device.name}}">{{device.name}}</div>
                            <mat-slide-toggle #slide (change)="slideChange(device, slide.checked)" [checked]="device.states['level'] === 'on'"></mat-slide-toggle>
                        </div>
                        <div fxFlex="30" fxLayout="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="menu" color="accent">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" [overlapTrigger]="false">
                                <button mat-menu-item (click)="deleteDevice(device.id)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete device</span>
                                </button>
                                <button mat-menu-item (click)="editDevice(device.id)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit services</span>
                                </button>
                                <mat-divider></mat-divider>
                                <button mat-menu-item (click)="addChangeRoutine(device.id)">
                                    <mat-icon>add_circle_outline</mat-icon>
                                    <span>Add change routine</span>
                                </button>
                                <button mat-menu-item (click)="editChangeRoutine(device.id)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit change routine</span>
                                </button>
                                <mat-divider></mat-divider>
                                <button mat-menu-item (click)="addState(device)">
                                    <mat-icon>add_circle_outline</mat-icon>
                                    <span>Add state</span>
                                </button>
                                <button mat-menu-item (click)="editStates(device.id)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit state</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
        <div *ngIf="devices.length === 0">No device instances found.</div>
    </div>

    <button mat-fab class="fab" (click)="add()" matTooltip="Create a device">
        <mat-icon>add</mat-icon>
    </button>
</div>
