<h2 mat-dialog-title>Edit Change Routine</h2>
<mat-dialog-content>
    <form class="size">
        <h3>Change Routine for {{type}}</h3>
        <div *ngIf="changeRoutines.length > 0">
            <div *ngFor="let changeRoutine of changeRoutines; let i = index">
                <mat-form-field color="accent" fxFill appearance="outline">
                    <mat-label>Code</mat-label>
                    <textarea [rows]="3" matInput
                              placeholder="Code" [(ngModel)]="changeRoutine.code" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
                <mat-form-field color="accent" fxFill appearance="outline">
                    <mat-label>Interval (seconds)</mat-label>
                    <input class="right-align" type="number" matInput placeholder="Interval" [(ngModel)]="changeRoutine.interval" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <button mat-icon-button (click)="delete(i)" color="accent" matTooltip="Delete change routine">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="close()">Cancel</button>
    <button mat-raised-button colo="accent" (click)="edit()">Save</button>
</mat-dialog-actions>
