<h2 mat-dialog-title>Create Room</h2>

<mat-dialog-content>
        <mat-form-field fxFill color="accent" appearance="outline">
            <mat-label>Name</mat-label>
            <input #input matInput placeholder="Name">
        </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="close()">Cancel</button>
    <button mat-raised-button color="accent" (click)="create(input.value)">Create</button>
</mat-dialog-actions>
