.layout-margin {
    margin: 8px;
}

.mat-48 {
    height: 48px;
    width: 48px;
    font-size: 48px;
}

.states-header {
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 0px;
}

.slider {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-right: 16px;
}